body { /*Changes the background color of the page to tan*/
    background-color: tan;
}
p {
    color: darkslategray;
}
#pageTitle { /*pageTitle id*/
    text-align: center; /*Center alignment for the title of the page*/
    color: brown;
}
#aboutHeader{ /*Changes all aboutHeader ids to the color brown*/
    color:brown;
}
#enterInfoTitle{ /*enterInfoTitle class*/
    color: brown;
    font-size:30px; /*Changes the font size of the "Tell Me About You!" title*/
}
.enterInfo{ /*enterInfo class*/
    color: blue;
    font-family:Arial, Helvetica, sans-serif; /*Changes the font of the enterInfo class from the default*/
}
@media screen and (min-width: 480px) { /*Media query that changes the format of the paragraphs on smaller screen sizes*/
    .paragraphs{
        width: 100%;
    }
}

  